<section class="text-white">
	<div class="mx-auto max-w-3xl text-center">
		<h2 class="text-3xl font-bold sm:text-4xl py-4">Formations</h2>
		{% for education in cv.education %}
			<article class="rounded-xl bg-gradient-to-r from-indigo-400 via-purple-400 to-purple-800 p-0.5 mx-10 sm:mx-4 mt-4">
				<div class="rounded-[10px] bg-gray-200 p-4 dark:bg-gray-900 sm:p-6">
					<p class="block text-xs text-gray-500 dark:text-gray-400">
						{{ education.endDate }}
					</p>
					<a href="#">
						<h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
							{{ education.area }}
							-
							{{ education.institution }}
						</h3>
					</a>
					{% for course in education.courses %}
						<p class="block text-base text-gray-600 dark:text-gray-300">

							{{ course }}
						</p>
					{% endfor %}
				</div>
			</article>
		{% endfor %}
	</div>
</section>
