{% extends 'base.html.twig' %}

{% block title %}Index
{% endblock %}

{% block body %}
	{% include "cv/_hero.html.twig" %}
	<div class="flex flex-col sm:flex-row bg-gray-900">
		<div class="sm:w-1/2">
			{% include "cv/_experience.html.twig" %}
		</div>
		<div class="sm:w-1/2">
		{% include "cv/_formation.html.twig" %}
		</div>
	</div>
	{% include "cv/_competencesTechniques.html.twig" %}
	{% include "cv/_footer.html.twig" %}
{% endblock %}
